*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body{
    background-color: #222222;
}

.header{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: rgb(255, 255, 255);
}

.taskCard{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    width: 70%;

    background-color: #faace8;
    border-radius: 5px;
    border-style: solid;
    border-color: #faace8;

    color: #222222;
    
    animation: dropDown 500ms;
}

@keyframes dropDown{
    0%{
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes closeUp{
    0%{
        transform: scaleY(1);
    }
    20%{
        transform: scaleY(1.1);
    }
    100%{
        transform: scaleY(0);
    }
}

.checked{
    background-color: grey;
    border-style: solid;
    border-color: grey;
    /* color:rgb(255, 255, 255);
    text-decoration: line-through;
    text-decoration-style:solid; */
    font-weight: 900;
}

.taskText{
    /* display: inline; */
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    margin: 5px;
    padding: 5px;
    color: inherit;
    font-size: 1em;
    font-weight: 900;
}

input[type="checkbox"]{
    display: none;
}

.checkBox{
    margin: 10px 0px;
    height: 25px;
    width: 25px;
    background-color: inherit;
    border: #222222;
    opacity: 0.75;
    border-style: solid;
    border-radius: 2px;
}

.checkMark{
    /* border: none; */
    /* position: absolute; */
    /* border-color: #fff; */

    padding-bottom: 5px;

    border-style: solid;
    border-width: 0 3px 3px 0;

    margin: 0px 6px 5px 6px;

    transform: rotate(45deg);
    height: 25px;
    width: 12px;
}

.addTask{
    display: flex;
    align-items: right;
    color: #222222;
    opacity: 0.75;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;

    margin: 0px 5px;
}

.delTask{
    display: flex;
    align-items: right;
    color: #222222;
    opacity: 0.75;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;

    margin: 0px 5px;
}